In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
%matplotlib inline

In [2]:
# api_key = 'U93z8Z-2erhNJgpJ1mNy'
# api_url = "https://www.quandl.com/api/v3/datasets/WIKI/GOOGL/data.json?api_key={}".format(api_key)
# params = {'limit': 1000}
# response = requests.get(api_url, params=params)
# m_dict = response.json()
df = pd.read_csv('daily_TSLA.csv', parse_dates=['timestamp']).sort_values('timestamp').set_index('timestamp')
df.head()

             open     high    low  close    volume
timestamp
2010-06-29  19.00  25.0000  17.54  23.89  18766300
2010-06-30  25.79  30.4192  23.30  23.83  17187100
2010-07-01  25.00  25.9200  20.27  21.96   8218800
2010-07-02  23.00  23.1000  18.71  19.20   5139800
2010-07-06  20.00  20.0000  15.83  16.11   6866900

In [3]:
def moving_average(df, swindow, lwindow):
    sm = df.close.rolling(swindow).mean()
    lo = df.close.rolling(lwindow).mean()
    buy = sm > lo
    sell = sm < lo
    return buy,sell

In [4]:
buy, sell = moving_average(df, 50, 200)

In [5]:
portfolio = 100
def backtest(df, buy, sell, capital, ini_shares, number = 10):
    portfolio = ini_shares
    cash = capital
    df['buy'] = buy
    df['sell'] = sell
    trades = []
    for index, row in df[(df['buy'] == True) | (df['sell'] == True)].iterrows():
        trade = {}
        trade['price'] = row['close']
        trade['timestamp'] = index
        if(row['buy']):
            portfolio += number
            cash = cash - number*(row['close'])
            trade['portfolio'] = portfolio
            trade['cash'] = cash
            trade['type'] = 'buy'
        elif(row['sell']):
            portfolio -= number
            cash = cash + number*(row['close'])
            trade['portfolio'] = portfolio
            trade['cash'] = cash
            trade['type'] = 'sell'
        trades.append(trade)
    trades_df = pd.DataFrame(trades).set_index('timestamp')
    return trades_df

In [6]:
backtest(df, buy, sell, 1000000, portfolio, 10)

                  cash  portfolio   price  type
timestamp
2011-04-12  999753.500        110   24.65   buy
2011-04-13  999504.200        120   24.93   buy
2011-04-14  999252.800        130   25.14   buy
2011-04-15  998997.000        140   25.58   buy
2011-04-18  998746.700        150   25.03   buy
2011-04-19  998495.100        160   25.16   buy
2011-04-20  998237.600        170   25.75   buy
2011-04-21  997970.200        180   26.74   buy
2011-04-25  997706.300        190   26.39   buy
2011-04-26  997437.000        200   26.93   buy
2011-04-27  997166.200        210   27.08   buy
2011-04-28  996889.600        220   27.66   buy
2011-04-29  996613.600        230   27.60   buy
2011-05-02  996339.100        240   27.45   buy
2011-05-03  996070.400        250   26.87   buy
2011-05-04  995803.500        260   26.69   buy
2011-05-05  995539.100        270   26.44   buy
2011-05-06  995267.900        280   27.12   buy
2011-05-09  994988.800        290   27.91   buy
2011-05-10  994705.500        300   28.33   buy
2011-05-11  994434.800        310   27.07   buy
2011-05-12  994158.100        320   27.67   buy
2011-05-13  993882.600        330   27.55   buy
2011-05-16  993616.600        340   26.60   buy
2011-05-17  993357.000        350   25.96   buy
2011-05-18  993093.500        360   26.35   buy
2011-05-19  992811.500        370   28.20   buy
2011-05-20  992531.800        380   27.97   buy
2011-05-23  992263.600        390   26.82   buy
2011-05-24  991996.400        400   26.72   buy
...                ...        ...     ...   ...
2018-05-07  -90267.853       6510  302.77  sell
2018-05-08  -87248.153       6500  301.97  sell
2018-05-09  -84179.653       6490  306.85  sell
2018-05-10  -81129.453       6480  305.02  sell
2018-05-11  -78118.853       6470  301.06  sell
2018-05-14  -75199.153       6460  291.97  sell
2018-05-15  -72357.353       6450  284.18  sell
2018-05-16  -69492.553       6440  286.48  sell
2018-05-17  -66647.153       6430  284.54  sell
2018-05-18  -63878.953       6420  276.82  sell
2018-05-21  -61034.053       6410  284.49  sell
2018-05-22  -58283.953       6400  275.01  sell
2018-05-23  -55493.253       6390  279.07  sell
2018-05-24  -52714.753       6380  277.85  sell
2018-05-25  -49926.253       6370  278.85  sell
2018-05-29  -47088.653       6360  283.76  sell
2018-05-30  -44171.453       6350  291.72  sell
2018-05-31  -41324.153       6340  284.73  sell
2018-06-01  -38405.953       6330  291.82  sell
2018-06-04  -35438.553       6320  296.74  sell
2018-06-05  -32527.253       6310  291.13  sell
2018-06-06  -29332.253       6300  319.50  sell
2018-06-07  -26171.353       6290  316.09  sell
2018-06-08  -22994.753       6280  317.66  sell
2018-06-11  -19673.753       6270  332.10  sell
2018-06-12  -16246.053       6260  342.77  sell
2018-06-13  -12798.253       6250  344.78  sell
2018-06-14   -9221.053       6240  357.72  sell
2018-06-15   -5639.353       6230  358.17  sell
2018-06-18   -1931.053       6220  370.83  sell

[1808 rows x 4 columns]