# Universal Code

In [1]:
import pandas  as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
sns.set()

In [2]:
ohlcv = pd.read_csv('data/daily_TSLA.csv', parse_dates=['timestamp']).sort_values('timestamp').set_index('timestamp')

In [3]:
ohlcv.tail()

               open    high     low   close    volume
timestamp
2018-06-12  344.700  354.97  338.00  342.77  22347403
2018-06-13  346.706  347.20  339.80  344.78   9469804
2018-06-14  347.630  358.75  346.60  357.72  10981023
2018-06-15  353.840  364.67  351.25  358.17  10848254
2018-06-18  355.400  373.73  354.50  370.83  12023761

# Testing starts here

In [4]:
from backtest import *

In [5]:
bt = Backtest(ohlcv, 500000, ini_shares=10, algo='moving_average')

In [13]:
bt.run_backtest(10)

{'duration_analyzed': '2911 days 00:00:00',
 'number_of_trades': 1958,
 'simple_return': '137.9123679001978 %',
 'remaining_cash': 44149.172999999406,
 'owned_shares': 3090,
 'portfolio_value': 1190013.8729999994}

In [14]:
bt.summary()

{'duration_analyzed': '2911 days 00:00:00',
 'number_of_trades': 1958,
 'simple_return': '137.9123679001978 %',
 'remaining_cash': 44149.172999999406,
 'owned_shares': 3090,
 'portfolio_value': 1190013.8729999994}